header {
    display: block;
}
header h1 {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #4f5050;
}
input {
    background-color: #a0a0a0;
}
label, p, div, h1 {
    color: #ececec;
}